*{
    margin:0px;
    padding:0px;
    font-family: 'Montserrat', sans-serif;
}

#first_block{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(202, 255, 251);
    padding: 20px;
    position:relative;
    z-index: 1024;
    width: 100%;
    box-sizing: border-box;
}

#heading{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

#heading #logo-container{
    height: 100%;
}

#tagline{    
    font-size: 1.5em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 bold;
    text-decoration: none;
}

#navbar{
    display:flex;
    gap: 10px;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 bold;
    justify-content: right;
    align-items: center;
}

#navcontent{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    height: 100%;
}

#navcontent li{
    list-style: none;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navcontent li a{
    padding: 1px;
    color:rgb(0, 110, 39);
    text-decoration: none;
    padding: 20px;
    height: 100%;
}
#navcontent li a:hover {
    background-color: tomato;
    color: black;
}

.block{
    display: flex;
    flex-direction: column;
    flex-wrap:nowrap;
    gap: 20px;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
}

.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    gap: 50px;
    justify-content: center;
    align-items: center; 
}

.btn{
    border: white;
    background-color:tomato;
    color: black;
    padding: 10px;
    font-size:20px;
    font-family: 'Montserrat', sans-serif;
}
.btn:hover{
    cursor: pointer;
    background-color: rgb(202, 255, 251);
}

.item{
    height:auto;
    box-shadow: 5px 3px 5px 3px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:10px;
    gap: 10px;
    border: 2px solid black;
    border-radius: 20px;
    box-sizing: border-box;
}

.item img{
    width: 50%;
    overflow: hidden;
}

.item p{
    padding: 0px;
    margin: 0px;
    font-size:20px;
    font-weight: bold;
}

.section{
    text-align: center;
    color:rgb(0, 0, 0);
    font-family: 'Montserrat', sans-serif;
    font-weight: 100 bold;
}

footer{
    text-align: center;
    margin: 20px;
    border: white;
    background-color: lightgrey;
    padding: 10px;
}

@media (max-width:1040px) {
    #first_block, 
    #heading{
        display: flex;
        flex-direction: column;
    } 

    #navbar{
        display:flex;
        justify-content: center;
    } 
}

@media (max-width:720px) {
    #first_block, 
    #heading{
        display: flex;
        flex-direction: column;
    } 

    #navbar{
        display:flex;
        justify-content: center;
    }

    #navcontent{
        display: flex;
        flex-direction: column;
    }
}